<!DOCTYPE html>
<html lang="en">
        <!-- Page Header-->
        {% include 'header.html' %}
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
                        <div class="my-5">
                            <form action="{{ url_for('receive_data') }}" method="POST" novalidate>
                                <div class="form-floating">
                                    <input name="username" class="form-control" id="username" type="text" placeholder="your name..."/>
                                    <label for="username">Name</label>
                                </div>
                                <div class="form-floating">
                                    <input name="email" class="form-control" id="email" type="email" placeholder="your email..."/>
                                    <label for="email">Email address</label>
                                </div>
                                <div class="form-floating">
                                    <input name="phone" class="form-control" id="phone" type="tel" placeholder="your phone number..."/>
                                    <label for="phone">Phone Number</label>
                                </div>
                                <div class="form-floating">
                                    <textarea name="message" class="form-control" id="message" placeholder="your message here..." style="height: 12rem"></textarea>
                                    <label for="message">Message</label>
                                </div>
                                <br />
                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        {% include 'footer.html' %}
    </body>
</html>
